.row {
    display: flex;
    background-color: bisque;
}
.col {
    justify-content: space-evenly;
    margin: 10px;
    border: 1px solid black;
    background-color: aquamarine;
    flex: 1;
}
.col-2 {
    justify-content: space-evenly;
    margin: 10px;
    border: 1px solid black;
    background-color: aquamarine;
    flex: 1;
}
.col-3 {
    justify-content: space-evenly;
    margin: 10px;
    border: 1px solid black;
    background-color: aquamarine;
    flex: 1;
}

